<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="target-densitydpi=device-dpi,width=device-width,maximum-scale=1.0,user-scalable=yes"/>
<meta http-equiv="Content-Language" content="ja"/>
</head>

<body>
<table style="width: 100%;border-collapse: separate;border-spacing: 0">
  <tr>
    <th style="text-align: center;color: white;background: linear-gradient(#829ebc, #258);border-left: 1px solid #3c6690;border-top: 1px solid #3c6690;border-bottom: 1px solid #3c6690;box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;width: 25%;padding: 10px 0">都道府県</th>
    <th style="text-align: center;color: white;background: linear-gradient(#829ebc, #258);border-left: 1px solid #3c6690;border-top: 1px solid #3c6690;border-bottom: 1px solid #3c6690;box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;width: 25%;padding: 10px 0">面積</th>
    <th style="text-align: center;color: white;background: linear-gradient(#829ebc, #258);border-left: 1px solid #3c6690;border-top: 1px solid #3c6690;border-bottom: 1px solid #3c6690;box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;width: 25%;padding: 10px 0">人口</th>
    <th style="text-align: center;color: white;background: linear-gradient(#829ebc, #258);border-left: 1px solid #3c6690;border-top: 1px solid #3c6690;border-bottom: 1px solid #3c6690;box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;width: 25%;padding: 10px 0">人口密度</th>
  </tr>
  <tr>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">愛知県</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">5,172km2</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">7,526,911人</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">1,455人/km2</td>
  </tr>
  <tr>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">東京都</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">2,193km2</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">13,742,906人</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">6,263人/km2</td>
  </tr>
  <tr>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">大阪府</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">1,905km2</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0">8,831,642人</td>
    <td style="text-align: center;border-left: 1px solid #a8b7c5;border-bottom: 1px solid #a8b7c5;border-top: none;box-shadow: 0 -3px 5px 1px #eee inset;width: 25%;padding: 10px 0;border-right: 1px solid #a8b7c5">4,635人/km2</td>
  </tr>
</table> 
</body>
</html>
