name: Release

on:
  pull_request:
    branches: [master]
    types: [opened, reopened, synchronize, labeled]

  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  setup:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    steps:
      - name: Debug Action
        uses: hmarr/debug-action@v2

      - uses: actions/checkout@v2
      
      - name: Evaluate selected labels
        id: bump
        uses: zwaldowski/match-label-action@v2
        with:
          allowed: major,minor,patch

      # - uses: zwaldowski/semver-release-action@v2
      #   with:
      #     bump: ${{ steps.bump.outputs.match }}
      #     github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: release-drafter/release-drafter@v5.13.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
